.content, .detail {
	padding-top: 88px;
	min-height: 100%;
}

a{
	text-decoration: none;
}

	.content article {
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		background-color: #fff;
	}

		.content article .item {
			padding: 40px;
		}

			.content article .item .tijd {
				float: left;
				margin-right: 30px;
			}

			.content article .item .vannaar {
				float: left;
			}

			.content article .item p#uur {
				font-family: Helvetica;
				font-size: 35px;
				color: black;
				text-decoration: none;
				font-weight: bold;
			}

			.content article .item p#vertraging {
				font-family: Helvetica;
				font-size: 25px;
				color: #ed1c24;
				text-decoration: none;
				font-weight: normal;
				float: right;
				letter-spacing: 1px;
			}
			
			.content article .item .vannaar p#traject {
				font-family: Helvetica;
				font-size: 30px;
				color: black;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 1px;
			}
			
			
			.content article h3 { 
				font-family: Helvetica;
				font-size: 30px;
				color: black;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 1px;
				margin-bottom: 10px;
				margin-left: 160px;
			}
			
			.content article p#tag { 
				margin-left: 160px;
				font-size: 25px;
			}
			
			.content article p#tag2 { 
				margin-left: 160px;
				font-size: 25px;
				margin-bottom: 30px;
			}
			
			
		
			

/*
.item p#uur{
	font-family: Helvetica;
	font-size: 35px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.item p#vertraging{
	font-family: Helvetica;
	font-size: 17px;
	color: #ed1c24;
	text-decoration: none;
	font-weight: normal;
	margin-left: 20px;
	letter-spacing: 1px;
}

.item .vannaar p#traject {
	font-family: Helvetica;
	font-size: 30px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
}

*/


		.content article .item .flag {
			background-image: url(../images/tag.png);
			background-repeat: no-repeat;
			background-position: left top;
			padding-top: 5px;
			background-position-y: 10px;
		}

			.content article .item .flag p#tag {
				font-family: Helvetica;
				font-size: 25px;
				color: black;
				text-decoration: none;
				font-weight: normal;
				letter-spacing: 1px;
				margin-left: 30px;
				
			}

		
		
.note {
	background-image: url(../images/note.png);
	background-repeat: no-repeat;
	height: 88px;
	width: 120px;
	position: absolute;
	right: 0;
	margin-top: 15px;
}


	.content #note {
		padding-top: 20px;
		width: 90%;
		margin: 0 auto;
	}

			.content #note input {
				width: 95%;
				height: 95px;
				border: 1px solid #898989;
				margin-bottom: -1px;
				font-size: 30px;
				color: #898989;
				text-align: center;
				-webkit-appearance: none;
				border-radius: 0;
			}
			
			.content #note textarea {
				width: 95%;
				border: 1px solid #898989;
				margin-bottom: -1px;
				font-size: 30px;
				color: #898989;
				text-align: center;
				-webkit-appearance: none;
				border-radius: 20px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				height: 200px;
				padding-top: 20px;
				margin-top: 20px;
				
			}
			
			.content #note #vertrekuur {
				-webkit-border-top-left-radius: 20px;
				-webkit-border-top-right-radius: 20px;
				-moz-border-radius-topleft: 20px;
				-moz-border-radius-topright: 20px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
			
			.content #note #station {
				-webkit-border-bottom-left-radius: 20px;
				-webkit-border-bottom-right-radius: 20px;
				-moz-border-radius-bottomleft: 20px;
				-moz-border-radius-bottomright: 20px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
			}
			
			
			.content #note input[type="submit"] {
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				background: #7db9e7; /* Old browsers */
				background: -moz-linear-gradient(top,  #7db9e7 0%, #0072bc 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e7), color-stop(100%,#0072bc)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #7db9e7 0%,#0072bc 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e7', endColorstr='#0072bc',GradientType=0 ); /* IE6-9 */
				margin-top: 25px;
				width: 80%;
				margin-left: 10%;
				color: #fff;
				font-size: 30px;			
			}
			
.annuleer {
	background-image: url(../images/annuleer.png);
	background-repeat: no-repeat;
	margin: 15px 10px 10px 10px;
	width: 140px;
	height: 88px;
	float: left;
}	


	.content .zoekvak {
		width: 100%;
		margin: 0 auto;
		height: 100px;
	}	
	
	
		.content #zoekForm input {
			width: 100%;
			height: 95px;
			border-bottom: 1px solid #898989;
			margin-bottom: -1px;
			font-size: 30px;
			color: #898989;
			text-align: center;
			-webkit-appearance: none;
			border-radius: 0;
			position: fixed;
		}



.arrow-left-detail{
	background-image: url(../images/arrow-left.png);
	background-repeat: no-repeat;
	margin: 8px 8px 8px 8px;
	width: 140px;
	height: 88px;
	float: left;
}

.note2{
	background-image: url(../images/note.png);
	background-repeat: no-repeat;
	margin: -845px 0px 0px 495px ;
	float: left;
	height: 88px;
	position: fixed;
	float: left;
	z-index: 1000;
	width: 140px;
}

.hidden{
	display: none;
}
	

h4{
	font-family: Helvetica;
	font-size: 30px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

