@import url "../fonts/stylesheet.css";

html, body{
	height: 100%;
	font-family: "Helvetica";
	background-color: #d7d7d7;
}

.container{
	min-height: 100%;
	height: 100%;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.header{
	height:88px;
	background-image: url(../images/menu-background.png);
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
}

.main{
	background-image: url(../images/apple-launch-568h.png);
	min-height: 100%;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.interact{
	padding-top: 850px;
	z-index: 999;
}

	.interact #registreren {
		height: 95px;
		width: 90%;
		margin: 0 auto;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-top-right-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-topright: 20px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background-color: #fff;
		border-bottom: 1px solid #898989;
		cursor: pointer;
	}
	
	.interact #aanmelden {
		height: 95px;
		width: 90%;
		margin: 0 auto;
		-webkit-border-bottom-left-radius: 20px;
		-webkit-border-bottom-right-radius: 20px;
		-moz-border-radius-bottomleft: 20px;
		-moz-border-radius-bottomright: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: #fff;
		cursor: pointer;
	}
	
		.interact #registreren .iconspan {
			background-image: url(../images/addicon.svg);
			background-position: center center;
			background-repeat: no-repeat;
			height: 95px;
			width: 95px;
			float: left;
			margin-left: 10px;
		}
		
		.interact #aanmelden .iconspan {
			background-image: url(../images/regicon.svg);
			background-position: center center;
			background-repeat: no-repeat;
			height: 95px;
			width: 95px;
			float: left;
			margin-left: 10px;
		}
		
		.interact #registreren p,
		.interact #aanmelden p {
			font-size: 30px;
			color: #898989;
			float: left;
			padding-top: 35px;
			padding-left: 30px;
		}
		
		
		.interact #registreren .arrowspan,
		.interact #aanmelden .arrowspan {
			float: right;
			background-image: url(../images/arrowicon.svg);
			background-position: center center;
			background-repeat: no-repeat;
			width: 90px;
			height: 90px;
		}
		
.arrow-left {
	background-image: url(../images/arrow-left.png);
	background-repeat: no-repeat;
	margin: 8px;
	height: 88px;
	width: auto;
}

.content-registreer {
	padding-top: 100px;
	width: 90%;
	margin: 0 auto;
}

	.content-registreer #form-registreer {
		margin-top: 20px;
		width: 100%;
	}
	
		.content-registreer #form-registreer input {
			width: 95%;
			height: 95px;
			border: 1px solid #898989;
			margin-bottom: -1px;
			font-size: 30px;
			color: #898989;
			text-align: center;
			 -webkit-appearance: none;
			 border-radius: 0;
		}
		
		.content-registreer #form-registreer #gebruikersnaam {
			-webkit-border-top-left-radius: 20px;
			-webkit-border-top-right-radius: 20px;
			-moz-border-radius-topleft: 20px;
			-moz-border-radius-topright: 20px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		
		.content-registreer #form-registreer #wachtwoord {
			-webkit-border-bottom-left-radius: 20px;
			-webkit-border-bottom-right-radius: 20px;
			-moz-border-radius-bottomleft: 20px;
			-moz-border-radius-bottomright: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;

		}
		
				.content-registreer #form-registreer input::-webkit-input-placeholder { /* WebKit browsers */
				   font-size: 30px;
				   padding-bottom: 40px;
				   color: #898989;
				   text-align: center;
				}
				.content-registreer #form-registreer input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   font-size: 30px;
				   padding-bottom: 40px;
				   text-align: center;
				   color: #898989;
				}
				.content-registreer #form-registreer input::-moz-placeholder { /* Mozilla Firefox 19+ */
				   font-size: 30px;
				   padding-bottom: 40px;
				   text-align: center;
				   color: #898989;
				}
				.content-registreer #form-registreer input:-ms-input-placeholder { /* Internet Explorer 10+ */
				   font-size: 30px;
				   padding-bottom: 40px;
				   text-align: center;
				   color: #898989;
				}
		
		.content-registreer #form-registreer input[type="submit"] {
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #7db9e7; /* Old browsers */
			background: -moz-linear-gradient(top,  #7db9e7 0%, #0072bc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e7), color-stop(100%,#0072bc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #7db9e7 0%,#0072bc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #7db9e7 0%,#0072bc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e7', endColorstr='#0072bc',GradientType=0 ); /* IE6-9 */
			margin-top: 25px;
			width: 80%;
			margin-left: 10%;
			color: #fff;
			font-size: 30px;
		}


.footer{
	background-color: black;
	height: 88px;
	position: fixed;
	top: 100%;
	margin-top: -88px;
	width: 100%;
}

.footer img{
	margin-left: -4px;
}